* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color:#333333;
}

.container {
    display: flex;
}

.search {
    padding: 40px 140px;
    width: calc(100% - 480px);
    height: 100vh;
    box-sizing: border-box;
}

header {
    display: flex;
}

.msi {
    min-width: 95px;
    font-weight: 700;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.favourite_btn {
    display: flex;
    width: 100%;
    justify-content: end;
}

.packaging {
    display: flex;
}

.favourite_text {
    font-weight: 500;
    font-size: 20px;
    color: #ABABAB;
    text-align: center;
    align-self: center;
}

.btn {
    margin-right: 10px;
    width: 28px;
    height: 28px;
    border-radius: 50%;
    background-color: #333333;
    display: flex;
    justify-content: center;
    align-items: center;
}

.search h2 {
    font-weight: 700;
    font-size: 32px;
    margin-top: 78px;
}

.find {
    font-weight: 500;
    font-size: 24px;
    line-height: 44px;
    margin-bottom: 43px;
}


form div {
    margin-bottom: 10px;
}

.caterogies {
    display: flex;
    flex-wrap: wrap;
}

.caterogies div {
    border: 2px solid #F8F8F8;
    border-radius: 6px;
    color: #ABABAB;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 12px;
    line-height: 16px;
    margin: 20px 10px 10px 0;
    padding: 6px 15px;
}

.caterogies div:hover {
    cursor: pointer;
    color: #333333;
    background: #F8F8F8;
    font-weight: 500;
}

.caterogies_hover {
    color: #333333 !important;
    background: #F8F8F8; 
    font-weight: 500;
}

.input {
    display: block;
    margin-top: 20px;
    padding: 10px 15px;
    border: 2px solid #333333;
    border-radius: 10px;
    width: calc(100% - 35px);
}

.input::placeholder {
    color:  #ABABAB;
}

.text {
    font-weight: 400;
    font-size: 18px;
    display: block;
}

.position {
    display: flex;
}

.radio {
    width: 20px;
    height: 20px;
    border: 2px solid #ABABAB;
    border-radius: 10px;
    box-sizing: border-box;
    margin-right: 15px;
    padding: 2px;
}

.radio:hover {
    cursor: pointer;
}

.off_radio {
    width: 12px;
    height: 12px;
    border-radius: 6px;
    background:#333333;
}
.on {
    border: 2px solid#333333;
}

form button {
    font-weight: 700;
    font-size: 16px;
    color:  #FFFFFF;
    width: 152px;
    height: 42px;
    background: linear-gradient(90.55deg, #8EA7FF 0%, #7291FF 100%);
    border-radius: 10px;
    border: #FFFFFF;
    margin: 10px 0;
}

button:hover {
    cursor: pointer;
}

.container_cards {
    padding: 20px 0;
}

.card {
    width: 100% ;
    background: #ABABAB;
    border-radius: 10px;
    display: flex;
    margin: 20px 0;
    background: #F8F8F8;
}

.icon {
    width: 100px;
    box-sizing: border-box;
    padding-top: 67px;
    padding-left: 40px;
    display: flex;
}

.gray {
    display: block;
    margin: auto;
    color: #ABABAB
}

.red {
    color: red;
}

.circle {
    width: 40px;
    height: 40px;
    background: white;
    border-radius: 50%;
    display: flex;
}

.info {
    display: flex;
    flex-direction: column;
    width: calc(100% - 100px);
    box-sizing: border-box;
    padding: 40px 40px 40px 0;
}

.hard {
    text-align: end;
    margin-bottom: 10px;
    
}

.id {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    display: inline-block;
    color: #ABABAB;
    margin-bottom: 5px;
}

.id a, .blue {
    color: #8EA7FF;
}

.blue {
    margin-left: 5px;
}

.text {
    font-weight: 400;
    font-size: 18px;
    line-height: 26px;
    margin-left: 0;
    margin-bottom: 23px;
}

.text_info {
    display: flex;
    
}

.date {
    width: 100%;
    font-weight: 400;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
    align-self: center;
}

.date span {
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    color: #ABABAB;
}

.celebrity {
    padding: 6px 20px;
    background: #FFFFFF;
    border-radius: 6px;
    text-transform: uppercase;
    font-weight: 500;
    font-size: 10px;
    line-height: 14px;
    text-align: end;
}

.favourite {
    display: flex;
    position: fixed;
    right: 0;
    flex-direction: column;
    width: 480px;
    padding: 40px;
    background: #F8F8F8;
    height: 100vh;
    box-sizing: border-box;
}

.whit {
   color: #F8F8F8;
}

.joke_search {
    background: rgb(223, 221, 221);
    opacity: 0.5;
}

.collapse {
    display: none;
}
